<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-8"><h2>Please select a city to display the ground water levels.
                    Please note the information displayed for last one hour.</h2></div>
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select a City</option>
                        <option value="bangalore">Bangalore</option>
                        <option value="mysore">Mysore</option>
                        <option value="chennai">Chennai</option>
                        <option value="delhi">Delhi</option>
                        <option value="kolkata">Kolkata</option>
                        <option value="mumbai">Mumbai</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="container text-center">
            <h3>Ground Water Level</h3>
<!--            <ul class="list-group">-->
                <div id="containers" style="width: 100%; height: 100%">
                </div>
<!--            </ul>-->
        </div>
    </div>
</div>