scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/weathersite
        create path (nt:unstructured) /content/dam/weathersite/jcr:content
        set properties on /content/dam/weathersite/jcr:content
        set cq:conf{String} to /conf/weathersite
        set jcr:title{String} to \"Weathersite\"
        end
        "
]
